/*
 *= require_self
 *=
 */
@import 'bootstrap'

body
  @extend .container

body > header
  section
    @extend .row
    @extend .jumbotron
  nav
    @extend .row
    @extend .navbar
    @extend .navbar-default
    ul
      @extend .nav
      @extend .navbar-nav
      li
        &.active
          @extend .active

body > nav
  @extend .col-md-4
  .items
    @extend .list-group
    .item
      @extend .list-group-item
      &.active
        @extend .alert-info
      .edit
        @extend .btn
        @extend .btn-sm
        position: absolute
        right: 5px
        top: 5px
        @extend .btn-default

        &.active
          @extend .btn-primary


#main
  @extend .col-md-8
  h1, h2
    @extend .page-header

@import './_forms'

.thumb
  @extend .col-md-3
  @extend .col-sm-4
  @extend .thumbnail
  .thumb-text
    @extend .caption

  .destroy
    @extend .btn
    @extend .btn-xs
    @extend .btn-danger

